<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plexdata.ArgumentParser.NET" version="1.0.2" targetFramework="net48" />
  <package id="Plexdata.LogWriter.Abstraction" version="1.0.4.1" targetFramework="net48" />
  <package id="Plexdata.LogWriter.Composite" version="1.0.4.1" targetFramework="net48" />
  <package id="Plexdata.LogWriter.Console" version="1.0.4.1" targetFramework="net48" />
  <package id="Plexdata.LogWriter.Console.Standard" version="1.0.4.1" targetFramework="net48" />
  <package id="Plexdata.LogWriter.Console.Windows" version="1.0.4.1" targetFramework="net48" />
  <package id="Plexdata.LogWriter.Persistent" version="1.0.4.1" targetFramework="net48" />
  <package id="Plexdata.LogWriter.Stream" version="1.0.4.1" targetFramework="net48" />
</packages>